.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.formContainer {
  margin-top: 8px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
